/node_modules# Dependencias de Node.js
node_modules/
package-lock.json
**/node_modules
**/package-lock.json

# Archivos de entorno
.env

# Salida de logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos del editor
.idea/
.vscode/
.DS_Store